.todolist-container {
  height: 100%;
  overflow: scroll;
  border-top: 1px solid var(--dark-grey);
  border-left: 1px solid var(--dark-grey);
  background-color: var(--grey);
}

.todolist-tasks-container {
  margin: 30px auto 200px auto;
  width: 90%;
}

.todolist-task {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 13px;
  background-color: var(--dark-grey);
  border-radius: 3px;
  color: white;
  font-weight: 500;
}

.todolist-task > div:nth-child(2) {
  flex: 1;
  padding: 15px;
}

.todolist-task > div:nth-child(1) {
  padding: 15px 20px;
  color: var(--light-grey);
  border-right: 1px solid var(--grey);
  cursor: pointer;
}

.todolist-task > div:nth-child(1):hover {
  background-color: var(--light-grey);
  color: white;
}

.todolist-check-done {
  color: var(--green);
}

.todolist-delete-button {
  border-left: 1px solid var(--grey);
  cursor: pointer;
  padding: 15px 20px;
}

.todolist-delete-button:hover {
  background-color: var(--light-grey);
  color: var(--red);
}

.todolist-done {
  color: var(--light-grey);
}
