.user-details-container {
  height: 50%;
  padding: 30px;
  background-color: var(--grey);
  margin: auto;
}

.user-details {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 30px;
}

.user-details > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
}

.user-details img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.user-details-input-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

.user-details-input-container span {
  color: var(--red);
}

.user-details-change-password-button {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.user-details-change-password-button:hover {
  color: white;
  text-decoration: underline;
}

.user-details-password-container {
  padding: 20px 0;
  margin: 10px 0;
  border-top: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  display: flex;
  flex-direction: column;
}

.user-details-input-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--light-grey);
}

.user-details-input-container input {
  height: 40px;
  width: 500px;
  border: none;
  color: white;
  background-color: var(--dark-grey);
  border-radius: 3px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0 10px;
  outline: none;
  border: 1px solid var(--grey);
}

.user-details-input-container input:hover {
  border: 1px solid black;
}

.user-details-input-container input:focus {
  border: 1px solid black;
}

.user-details-buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.user-details-buttons-container > div:nth-child(2) {
  display: flex;
}

.user-details-button {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.user-details-button:hover {
  color: white;
}

.user-details-delete {
  border: 1px solid var(--red);
  color: var(--red);
}

.user-details-delete:hover {
  background-color: var(--red);
}

.user-details-save {
  color: var(--green);
  border: 1px solid var(--green);
}

.user-details-save:hover {
  background-color: var(--green);
}

.user-details-save-password-button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  right: 0px;
  width: 150px;
}
